{{#if isLoading}}
  <div
    class="absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center
      {{className}}"
  >
    <div
      class="w-10 h-10 border-4 border-indigo-500 rounded-full border-t-transparent animate-spin"
    ></div>
  </div>
{{/if}}