<div class="grid grid-cols-12 min-h-screen">
  <div class="col-span-3 relative">
    <ui-loader loading="{{ isLoading }}"></ui-loader>

    <div class="px-5 mt-10">
      <div class="flex items-center gap-2">
        <i class="icon-arrow-left text-indigo-500"></i>
        <router-link label="Back to LandingPage" class="text-indigo-500 text-sm"
          href="${props.routes.home}"></router-link>
      </div>

      <div class="mt-16">
        <h1 class="text-2xl">Sign in to your account</h1>
        <p class="text-slate-400 mt-3 text-sm">Not a member? <router-link label="Sign Up" class="text-indigo-500"
            href="${props.routes.signUp}"></router-link></p>
        <form class="flex flex-col gap-3 sign-in-form mt-12">
          <ui-input label="Email address" name="email" type="email"></ui-input>
          <ui-input label="Password" type="password" name="password"></ui-input>
          <ui-button caption="Sign In" class-name="block w-full"></ui-button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-span-9 bg-workspace bg-cover"></div>
</div>