 <div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8 sm:mx-auto sm:w-full sm:max-w-md"> 
    <!-- Divider -->
          <div
            class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300 dark:before:border-neutral-500 dark:after:border-neutral-500">
            <p
              class="mx-4 mb-0 text-center font-semibold dark:text-stone-600">
              Are you sure you want to Log Out?
            </p>
          </div>
          
            <button
             class="logout-btn border rounded-md m-3 p-1 gap-1 bg-stone-300 text-slate-900 hover:bg-stone-200"
             >
             <i class="icon-log-out"></i>
             logOut
            </button>

            <button class="border rounded-md m-3 p-1 gap-1 bg-stone-300 text-slate-900 hover:bg-stone-200">
             <a href="${props.routes.home}">Back to the Store</a>
            </button>
        </form>
      </div>
    </div>
  </div>
 </div>
