<div>
    <app-router>
        <app-route path="/" title="Home Page" component="home-page"></app-route>
        <app-route path="/404" title="404" component="not-found"></app-route>
        <app-route path="/cart/:id" title="Cart Page" component="cart-page"></app-route>
        <app-outlet></app-outlet>
    </app-router>
</div>